# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Gavran.M_Game.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Desktop\Patterns\Gavran.M_Game\.idea\.idea.Gavran.M_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
